/******************************
* Author : Zardoz
* Date : 08.04.2020
*
******************************/


/* Style of header */

#header h1{
    font-size: 32px;

}

p{
    font-size: 18px;
    color: blue;
}

/* Paragraph */