/******************************
* Author : Zardoz
* Date : 08.04.2020
*
******************************/


h1{
    background: grey;
}

p{
    font-size: 12px;
}

a{
    color: blue;
    text-decoration: underline;

}

span{
    text-transform: uppercase;
}